

.withdraw__container> h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: 'Fredoka One', cursive;
    
}


.withdraw__content{
    max-width: 400px;
    background-color: rgb(194, 109, 109);
    padding: 40px 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.withdraw__content > h2{
    font-size: 20px;
    color: #fff;
}

.withdraw__content > h3{
    font-size: 20px;
    color: #fff;
}

button{
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}